/*----------- Reset css start --------------*/
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
p {
    margin: 0px;
}

body,
html {
    position: relative;
}

html {
    height: 100%;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
button:focus,
input:focus,
select:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

a,
a:hover {
    color: #24235c;
    text-decoration: none;
    transition: all 0.4s ease-in 0s;
    -webkit-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
}

a {
    color: #24235c;
}

i {
    font-style: normal;
}

label {
    font-weight: normal;
}

::-moz-placeholder {
    opacity: 1;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.form-control::-moz-placeholder,
.form-control::-moz-placeholder {
    color: #000;
}

.form-control:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: #000;
}

.form-control:-moz-placeholder,
.form-control:-moz-placeholder {
    color: #000;
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

::-moz-selection {
    color: #fff;
    background: #24235c;
}

::selection {
    color: #fff;
    background: #24235c;
}



body {
    background-color: #e7e4f0;
    font-family: Open Sans, sans-serif;
    height: 100%;
    font-size: 16px;
    image-rendering: -webkit-optimize-contrast;
}

.d-table {
    display: table;
    width: 100%;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.profile-card-outer {
    background-color: #fff;
    color: #24235c;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.banner-img {
    max-width: 100%;
    height: auto;
    border-radius: 30px 30px 0 0;
}

.card-banner {
    border-radius: 30px 30px 0 0;
}

.profile-card-img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    margin-top: -85px;
}

.profile-card-outer .round-img {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.profile-card-img:hover img {
    transform: scale(1.1);
}

.profile-card-content {
    padding: 30px 25px;
    padding-top: 20px;
}

.profile-card-name {
    font-size: 26px;
    margin: 0 0 0px;
    color: #24235c;
}

.profile-card-position {
    font-size: 18px;
    color: #7271AA;
}

.profile-card-desc {
    margin: 25px 0;
    line-height: 1.4;
    color: #24235c;
    font-size: 18px;
    margin-top: 20px;
}

.btn-blue {
    display: inline-block;
    vertical-align: top;
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 8px 30px 8px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.05);
    margin-top: 20px;
    transition: transform 100ms;
    min-width: 250px;
    -webkit-tap-highlight-color: transparent;
}

.social-links {
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.social-links li {
    font-size: 1.3em;
    margin: 0 10px;
    transition: transform 100ms;
}

.social-links li:hover {
    transform: scale(1.12);
}

.btn-blue:hover {
    transform: scale(1.03);
    transition: transform 100ms;
    color: #fff;
}